@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Castoro Titling', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1650px;
}

.panel_block {
  display: flex;
  padding: 10px 0;
}

.panel {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: 0.2;
  height: 80vh;
  border-radius: 50px;
  color: #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: flex 0.7s ease-in;
}

.panel:not(:last-child) {
  margin-right: 20px;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-size: 24px;
  opacity: 0;
}

.panel.active {
  flex: 2;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in 0.4s;
}

@media (max-width: 1240px) {
  .panel:nth-of-type(7) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .panel:nth-of-type(6) {
    display: none;
  }
}

@media (max-width: 768px) {
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 564px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4) {
    display: none;
  }
}